body{
  height: 100vh;
  margin: 0;
}
.main{
  display:flex;
  flex-direction: column;
  font-family: Roboto, sans-serif
}
.header{
  display:flex;
  justify-content: space-between;
  background-color: #1F2937;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
    
}
.sectionOne{
  display:flex;
  background-color: #1F2937;
  padding: 120px 200px;
  align-items: center;
  
  justify-content: space-between;
  gap: 200px;
}
.sectionOneLeft{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.sectionTwo{
  display:flex;
  flex-direction: column;
  padding: 60px 200px 120px 200px;
}
.sTwoImg{
  border: 1px solid blue;
  border-radius: 10px;
  overflow: hidden;
}

.sectionTwoHeader{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color:#1F2937;
  font-weight: 900;
}
.sectionTwoBody{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  gap:32px;
}

.sectionTwoImg{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.sTwoText{
  text-align: center;
  flex-wrap: wrap;
  font-size: 18px;
  color: #777B7E;
  width: 171px;
}

.sectionThree{
  background-color: #E5E7EB;
  align-items: center;
  padding: 120px 200px;
}
.quote{
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
}
.quoteAuthor{
  font-size: 24px;
  color: black;
  font-weight: 900;
  text-align: right;
  margin-top: 20px;
}
.sectionFour{
  display:flex;
  background-color: #3882F6;
  margin: 120px 200px;
  padding: 60px 120px;
  gap: 100px;
  align-items: center;
}
.sectionFourLeft{
  display:flex;
  flex-direction: column;
}
.s4BigText{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 1000;
}
.s4SmallText{
  font-size: 18px;
  color: #E5E7EB;
}

.bigText{
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8;
}
.smallerText{
  font-size: 18px;
  color: #E5E7EB;
}
.topButton{
  background-color: #3882F6;
  padding: 10px 20px;
  width: 120px;
  color: #E5E7EB;
  font-weight: 600;
  font-size: 18px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
.botButton{
  background-color: #3882F6;
  padding: 10px 20px;
  width: 120px;
  color: #E5E7EB;
  font-weight: 600;
  font-size: 18px;
  border:2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.left-side{
  display:flex;
  font-size: 28px;
  font-weight: 1000;
  color: #F9FAF8;
}
.right-side{
  display:flex;
  gap:16px;
  list-style-type: none;
  font-size: 18px;
}

.footer{
  background-color:#1F2937;
  text-align: center;
  color:#E5E7EB;
  padding: 32px;
}
.copyright{
  padding: .5em;
}
a:link {
  text-decoration: none;
  color: #E5E7EB;
}

a:visited {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  text-decoration: underline;
  color: #E5E7EB;
}

a:active {
  text-decoration: underline;
  color: #E5E7EB;
}
img{
  max-width: 100%;
  height: auto;
  object-fit:cover;
}